.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

/* .poster{
  
  height:500px;
  width:250px;
  object-fit: cover;
  
} */
img{
  height:500px;
  width:350px;
  object-fit: cover;
  transition: 0.2s;
  padding: 20px;
}
img:hover{
  transform: scale(1.1);
}
.moviebox{
  width: 400px;
  /* background-color: rgb(250, 195, 195); */
}
.moviespecs{
  
  align-items: center;
  justify-content: space-between;

}
.moviename{
  font-size: 25px;
  margin: 0;
}
.ratings{
  font-size: 20px;
}
.director{
  font-size: 20px;
  font-style: normal;
}
.summary{
  font-size: 15px;
  font-style: italic;
  margin-top: 0;
  padding-bottom: 15px;
}


